@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
    --background-c: hsl(210, 45%, 60%);
    background-color: var(--background-c, lightgray);
    display: flex;
    flex-direction: column;
    font-family: "Raleway", Helvetica, sans-serif;
  }