@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
    --background-c: hsl(210, 45%, 60%);
    background-color: var(--background-c, lightgray);
    display: flex;
    flex-direction: column;
    font-family: "Raleway", Helvetica, sans-serif;
  }

  @media (max-width: 400px) {
    body {
      font-size: 13px;
    }
  }
  
  h1 {
    margin-bottom: 5px;
  }
  
  header {
    padding-bottom: 15px;
    position: fixed;
    background-color: var(--background-c, lightgray);
    width: 100%;
    z-index: 1;
    top: 0%;
  }